<div class='page-header'>
<h1>ログイン</h1>
</div>

    <%= form_for(:session, url: login_path) do |f| %>

      <div class="form-group">
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>

      <%= f.submit 'Log in', class: 'btn btn-white-orange-m btn-block' %>
    <% end %>

    <p>会員登録がまだ？ <%= link_to '無料登録', new_user_path, class:'btn btn-white-orange-m' %></p>
