<div class="col-xs-12">
    <ul class="nav nav-tabs nav-justified">
      <li class="<%= 'active' if current_page?(myrecruit_path) %>"><%= link_to '募集状況', myrecruit_path %></li>
      <li class="<%= 'active' if current_page?(mycontract_path) %>"><%= link_to '契約状況', mycontract_path %></li>
      <li class="<%= 'active' if current_page?(wanttodolists_path) %>"><%= link_to '応募状況', wanttodolists_path %></li>
       <li class="<%= 'active' if current_page?(jobsasworkers_path) %>"><%= link_to '私の仕事', jobsasworkers_path %></li>
    </ul>
</div>
<div class='col-xs-4'>
<img class="media-object img-circle" src="<%= gravatar_url(current_user, { size: 300 }) %>" alt="">
</div>
<div class='recruit col-xs-8'>
    <% @jobs.each do |job| %>

<div class="media">
	<div class="media-body">
		<h4 class="media-heading"><%= job.what %></h4>
		<p>(日時)<%= job.when %><br>(場所）<%= job.place %><br>(報酬)<%= job.reward %><br>(詳細)<%= job.detail %></p>
		<div class='applicants'>
		<h5>応募者<small>(クリックで契約完了）</small></h5>
		  <% job.applicants.each do |applicant| %>
		      <div class='man-box'>
		      <%= link_to applicant.name, applicant %>
		      <img class="media-object img-circle" src="<%= gravatar_url(applicant, { size: 30 }) %>" alt="">
		      <%= form_for(current_user.contracts.build) do |f| %>
              <%= hidden_field_tag :user, applicant.id %> 
              <%= hidden_field_tag :job, job.id %>
             <%= f.submit '契約する', class:'btn btn-white-orange-m btn-xs' %>
             </div>
              <% end %>
		  <% end %>
		</div>
	</div>
</div>

<% end %>
</div>